$mainborder: 15px, bevel, black;
$border-radius: 100px 100px 100px 100px;
$primary: grey;
$secondary: white;

body {
  width: 100%;
  background: $primary;
  h1 {
    width: 1000px;
    margin: 0 auto;
    font-size: 3em;
    font-weight: bold;
  }
}
.category-form {
  text-align: center;
  width: 500px;
  margin: 0 auto;
  input {
    margin: 15px;
  }
  #text {
    width: 300px;
    height: 25px;
  }
  #number {
    width: 30px;
    height: 25px;
  }
}
div {
    text-align: center;
    background: $primary;
    color: $secondary;
    font-size: 35px;
  ul {
    width: 100%;
    list-style: none;
    li {
      display: block;
      position: relative;
      background: lightskyblue;
      border-radius: $border-radius;
      color: $secondary;
      font-size: 14px;
      word-wrap: break-word;
      width: 80%;
      height: 100px;
      margin: 5px auto;
      h3 {
        font-weight: bolder;
        text-align: center;
        font-size: 1.6em;
      }
      p {
        font-style: italic;
        text-align: left;
        padding-left: 25px;
      }
      section {
        width: 100%;
        padding: 5px;
        margin: none;
      }
    }
  }
}